<div id="content-header">
  <img src="/images/HR/show_hr.png" alt="" />
  <h1><%= t 'Employee_manage' %></h1>
  <h3><%= t 'Manage_all_employee' %></h3>
  <div id="app-back-button">
     <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="box">
  <div class="link-box">
    <div class="link-heading"><%= link_to t("Employee_admission"), :controller=>"employee", :action=>"admission1" %></div>
    <div class="link-descr"><%= t 'Employee_admissions_form' %></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to t("Employee_subject_association"), :controller=>"employee", :action=>"subject_assignment"%></div>
    <div class="link-descr"><%= t 'Assign_employee' %></div>
  </div>
  </div>

</div>
