<div id="content-header">
  <img src="/images/admission/admission_page_logo.jpg" />
  <h1><%= t 'student.Admission' %></h1>
  <h3><%= t 'student.step_2' %></h3>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="parents">

    <% unless @student.guardians.empty? %>

      <ul id="parents-list">
        <p>监护人已保存为<%= @student.first_name + ' ' + @student.last_name %> </p>
        <%- @student.guardians.each do |p| -%>
          <li class="list<%=cycle('odd', 'even')%>"><%= p.full_name %> - <%= p.relation %> </li>
        <%  end %>
        <div id="add-more-parent">
          <%= link_to_function '► 添加另外的监护人' do |page|
            page.visual_effect :toggle_slide, "admission1_form"
            page.hide "parents"
          end %>
        </div>
        <div id="skip">
          <%= link_to "► 完成", {:controller => "student", :action => "admission3", :id => @student.id } %>
        </div>
        <script type="text/javascript">
          Event.observe(window, 'load', function() { $('admission1_form').hide(); });
        </script>
      </ul>

    <%  end %>

  </div>

  <% form_for :guardian do |f| %>

    <%= f.error_messages :header_message => nil %>

    <div id="admission1_form">

      <div id="admission1_form_vertical_block_left">

        <div class="label-field-pair">
          <%= f.label :ward %>
          <div class="text_display"><%= @student.admission_no %></div>
          <%= f.hidden_field :ward_id, :value => @student.id %>
        </div>

        <br/>
        <span class="span-sub-heading"><%= t 'guardian.parent_detail' %></span>
        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <%= f.label :first_name %>
          <div class="text-input-bg"><%= f.text_field :first_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :last_name%>
          <div class="text-input-bg"><%= f.text_field :last_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :relation %>
          <div class="text-input-bg"><%= f.text_field :relation %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :date_of_birth %>
          <div class="text-input-bg"><%= calendar_date_select_tag 'guardian[dob]', nil,
              :year_range => 60.years.ago..20.years.ago %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :education%>
          <div class="text-input-bg"><%= f.text_field :education %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :occupation %>
          <div class="text-input-bg"><%= f.text_field :occupation %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :income %>
          <div class="text-input-bg"><%= f.text_field :income %></div>
        </div>

        <br/>

        <span class="span-sub-heading"><%= t 'guardian.contact_detail' %></span>

        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <%= f.label :email %>
          <div class="text-input-bg"><%= f.text_field :email %></div>
        </div>

        <hr class="label-underline"></hr>
      </div>

      <div id="admission1_form_vertical_block_right">

        <div class="label-field-pair">
          <%= f.label :office_address_line1 %>
          <div class="text-input-bg"><%= f.text_field :office_address_line1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :office_address_line2 %>
          <div class="text-input-bg"><%= f.text_field :office_address_line2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :city %>
          <div class="text-input-bg"><%= f.text_field :city %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :state %>
          <div class="text-input-bg"><%= f.text_field :state %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :country %>
          <div class="text-input-bg"> <%= select :guardian, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected => 76 %> </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :office_phone1 %>
          <div class="text-input-bg"><%= f.text_field :office_phone1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :office_phone2 %>
          <div class="text-input-bg"><%= f.text_field :office_phone2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <%= f.label :mobile_phone %>
          <div class="text-input-bg"><%= f.text_field :mobile_phone %></div>
        </div>

        <hr class="label-underline"></hr>

      </div>

      <div class="extender">
        <%= submit_tag "", :value => " ► 完成",  :name => "commit", :class => "submit_button3" %>
      </div>
      <div id="skip">
        <%= link_to "► 点击此处跳过", {:controller => "student", :action => "admission3", :id => @student.id } %>
      </div>

    </div>
  <% end %>

</div>
