 <div id="content-header">
    <img src="/images/show_settings.png" />
  <h1><%= t 'School' %></h1>
  <h3><%= t 'Classroom' %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

  <div id="inner-tab-menu">
</div>
<div id="page-yield">

    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

        <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

 <div class="box">
   <div class="bread_crumb">
    <%= link_to t('School'), schools_path %> &raquo;
    <%= link_to @school.full_name, @school %> &raquo;
    <%= t 'Classroom' %> <%= @classroom.name %>
        </div>


<table id="listing" width="100%">
  <tr class="tr-head">
    <td>Subject.no</td>
    <td>Name</td>
    <td>Responsible Teacher</td>
  </tr>
  <% @slno = 0 %>
  <% @subjects.each do |subject| %>
    <% @slno= @slno + 1 %>
    <tr class="tr-<%= cycle('odd', 'even')%>">
      <td class="col-1"><%=  @slno %></td>
      <td class="col-2"><%= link_to subject.name,{:controller=>'subjects',:action=>'view',:id=>subject.id} %></td>
      <td class="col-3"><%= subject.code %> </td>
    </tr>
  <% end %>
</table>

<div id="extender"></div>
 </div>
    </div>

